/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-header {
    flex-shrink: 0;
}

.main {
    flex: 1;
    overflow-y: auto;
}

app-footer {
    flex-shrink: 0;
}